tmp-siler-worker.json
{
  "name": "Siler Worker",
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "nodes": [
    {
      "parameters": {
        "path": "siler",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "2FB8C64C-CADB-4A32-9EE1-37AEBBE9FE32"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = items[0]?.json?.body || {};\nconst question = body.question || '';\nreturn [{ json: { question } }];"
      },
      "id": "2",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.2.203:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"qwen2.5:3b-instruct-q4_K_M\", prompt: \"Provide the requested response. Return only the response content (multi-line allowed), nothing else. Request: \" + ($json.question || \"\"), stream: false }) }}",
        "options": {}
      },
      "id": "3",
      "name": "Siler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{ { response: $json.response } }}",
        "responseCode": 200
      },
      "id": "4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          {
            "node": "Siler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Siler": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
